<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.yubincloud.fairywiki.mapper.TestMapper" >

    <select id="list" resultType="io.github.yubincloud.fairywiki.domain.Test">
        SELECT `id`, `name`, `password`
        FROM `test`
    </select>

</mapper>
